[Unit]
Description=Run AIX Daily collection every morning

[Timer]
OnCalendar=*-*-* 08:25:00 Asia/Shanghai
Persistent=true
AccuracySec=1min
Unit=aix-daily-raw.service

[Install]
WantedBy=timers.target
